<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185011634895-cikrhhtfk42j8cc043pml7bmo2i0nkve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185011634895-cikrhhtfk42j8cc043pml7bmo2i0nkve</string>
	<key>API_KEY</key>
	<string>AIzaSyBQdYqNBXCdNjXXL1sEGJ2Dp87Co6CSxiE</string>
	<key>GCM_SENDER_ID</key>
	<string>185011634895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.damianomiazzi.Lawn-Helper</string>
	<key>PROJECT_ID</key>
	<string>lawn-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>lawn-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185011634895:ios:1cb1ec0698b4ddf9c92dba</string>
</dict>
</plist>